.navbar{
    background-color: #087900;
}

#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: #087900;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.navbar-brand{
    font-family: 'Poppins', sans-serif;
}

.navbar-toggler{
    background-color: #fff;
}

.carousel-inner img {
    height: 750px; 
}

.col-md-4 img{
    height: 250px;
}

.section-title span{
    color: #087900;
}

#sobre-o-consultorio {
    background-color: #e0f7dc;
}

.text-colored{
    color: #087900;
}